<div id="menubar">


      <ul id="menu">
        <li class="current"><a href="index.html">Home</a></li>
        <li><a href="ourwork.html">Our Work</a></li>
        <li><a href="testimonials.html"> services</a></li>
        <li><a href="projects.html">Projects</a></li>
        
      </ul>
    </div><!--close menubar-->	
